{% extends "base.html" %}
{% block content %}
    <form method="POST" class="col-8">
        <h1>Edit Vocabulary</h1>  
        {{form.hidden_tag()}}
        {% for field in form if field.widget.input_type != "hidden" %}
            {{field.label}}
            {{field(class_="form-control")}}
        {% endfor %}
        <button class="btn btn-primary mt-4" id="get-definition">Save</button>
        <a href="/vocabulary" class="btn btn-success mt-4">Cancel</a>
        <a href="/vocabulary/delete/{{vol.id}}" class="btn btn-danger mt-4">Delete</a>
    </form>
{% endblock %}