{% extends "sidebar.html" %}
{% block title %}GoGo app{% endblock %}
{% block barconts %}
        <div class="barcontent px-5 col-10">
            <h1 class="text-center my-3">Introduction</h1>
            <p class="lead ">
                Welcome to GoGo app,this app will build up My learning journey,GoGo app includes several sections,
                Vocabulary,Reading,Grammar,Review Voc,Translate and Study Plan.This app build for improves my english 
                level
            </p>
            <h3>Vocabulary</h3>
            <p class="lead">
                Allow me to add any Vocabulary that I don't know,store its definition in both English and Chinese into database,
                also able to see all the list of Vocabulary in difference level.I'm going to includes three level of familiarity
                1 ~ 3
            </p>
            <h3>Reading</h3>
            <p class="lead">
                Allow me to read any articles online to improve my reading level 
            </p>
            <h3>Grammar</h3>
            <p class="lead">
                Allow me to add any Grammar skill that I learned
            </p>
            <h3>Review Vol</h3>
            <p class="lead">
                Allow me to practice Vocabulary and change its familiarity level if needed
            </p>
            <h3>Translate</h3>
            <p class="lead">
                Allow me to translate any sentence into any language
            </p>
            <h3>Study Plan</h3>
            <p class="lead">
                Allow me to any daily,weekly,or monthly plan
            </p>
        </div>
{% endblock %}
