{% extends "sidebar.html" %}
{% block title %}GoGo app{% endblock %}
{% block barconts %}
        <div class="barcontent px-5 col-10">
            <h1 class="text-center my-3">Introduction</h1>
            <p class="lead ">
                Welcome to GoGo app,this app will build up My learning journey,GoGo app includes several sections,
                Vocabulary,Reading,Grammar,Review Voc,Translate and Study Plan.This app build for improves my english 
                level
            </p>
            <h3>Vocabulary</h3>
            <p class="lead">
                Allow to add any Vocabulary store its definition in both English and Chinese into database
            </p>
            <h3>Reading</h3>
            <p class="lead">
                Allow to read any articles online to improve reading level 
            </p>
            <h3>Grammar</h3>
            <p class="lead">
                Allow to add any Grammar skill have learned
            </p>
            <h3>Review Vol</h3>
            <p class="lead">
                Allow to practice Vocabulary
            </p>
            <h3>Translate</h3>
            <p class="lead">
                Allow to translate any sentence into any language
            </p>
            <h3>Study Plan</h3>
            <p class="lead">
                Allow to specific any daily,weekly,or monthly plan
            </p>
        </div>
{% endblock %}
