{% extends "base.html" %}
{% block title%}Vocabulary{% endblock %}
{% block content %}
    {% for category,msg in get_flashed_messages(with_categories=true) %}
        <p class="text-{{category}}">{{msg}}</p>
    {% endfor %}
    <div class="d-flex">
        <div class="signbar col-2">
            <a href="/vocabulary" class="btn btn-voc {% if focus %}btn-focus{% endif %}"><h1>Vocabulary</h1></a>
            <a href="/reading" class="btn btn-read mt-4"><h1>Reading</h1></a>
            <a href="/grammar" class="btn btn-gra mt-4"><h1>Grammar</h1></a>
            <a href="review" class="btn btn-rev mt-4"><h1>Review Voc</h1></a>
            <a href="translate" class="btn btn-tra mt-4"><h1>Translate</h1></a>
            <a href="studyplan" class="btn btn-plan mt-4"><h1>Study Plan</h1></a>
        </div>
        <div class="barcontent px-5 col-10" style="background-color: #9498A8;">
            <div id="vol-top">
                <ol class="text-danger">
                    {% for vol in vocabulary%}
                    <li>
                        <a href="/vocabulary/{{vol.id}}">{{vol.vocabulary}} : {{vol.definition_ch}}</a>
                    </li>
                    {% endfor %}
                </ol>
            </div>
            <div>
                <a href="/add_vol" class="btn btn-success">Add New Vocabulary</a>
            </div>
        </div>
    </div>
{% endblock %}